* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease; /* ホバー時のスムーズな色変化 */
}

.dropdown-toggle:hover {
  background-color: #f0f0f0; /* ホバー時の背景色 */
  color: #333; /* ホバー時の文字色 */
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* トリガーの真下に配置 */
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: none; /* 初期状態で非表示 */
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

/* 表示時のクラス */
.dropdown-menu.hidden {
  display: none;
}

.dropdown-menu.visible {
  display: block;
}